<div class="container">

<!-- when a chance we can use htm unicode to show dice sides based on the rolldice() result 
http://jsfiddle.net/estelle/6d5Z6/light/
INSTEAD OF placeholder or with it -->

	<img src="https://openclipart.org/image/800px/svg_to_png/189685/1387954956.png" class="img-responsive">
</div>
<div class="button">
	<button class = "btn btn-lg bt-success" ng-click="RollDice()">Roll Dice</button>

	<div id="placeholder">
		<p class="number"ng-show="rollDice">{{rollDice}}</p>
	</div>
</div>
<websocket >
	<div id="content" class="contentChat"></div>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
	</div>
</websocket>
<!-- <h3>Chat with your Friends!</h3>
	<div class="chat">
		
			
			<p ng-repeat='chat in chats'>
			
				<strong ng-model="chatuser">{{ chat.username }}:</strong>
				<span ng-model ="chatmessage">{{ chat.text }}</span>

			</p>
		
		
	</div>

	<div>
		<form>
			<fieldset>
				<input type='text' placeholder='username' ng-model='username'><br>
				<textarea placeholder='Type...' ng-model='newChatText'></textarea>
				<button ng-click='sendChat(username, newChatText)' class="btn">Send</button>
			</fieldset>
		</form>
	</div> -->

