<div class="container">

<!-- when a chance we can use htm unicode to show dice sides based on the rolldice() result 
http://jsfiddle.net/estelle/6d5Z6/light/
INSTEAD OF placeholder or with it -->

<img src="https://openclipart.org/image/800px/svg_to_png/189685/1387954956.png" class="img-responsive">
</div>
<div class="button">
<button class = "btn btn-lg bt-success" ng-click="RollDice()">Roll Dice</button>

<div id="placeholder">
	<p class="number"ng-show="rollDice">{{rollDice}}</p>
</div>
</div>
