


<div class="board">
    <div class="row" id="row1">
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable blue"></div>
        <div class="box box-x droppable blue"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
    </div>
    <div class="row" id="row2">
        <div class="col1">
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable red"></div>
            <div class="box box-y droppable red"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
        </div>
        <div class="col3">
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable yellow"></div>
            <div class="box box-y droppable yellow"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
            <div class="box box-y droppable"></div>
        </div>
    </div>
    <div class="row" id="row3">
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable black"></div>
        <div class="box box-x droppable black"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
        <div class="box box-x droppable"></div>
    </div>
    <div class="row" id= 'row3'>
    <div class="marble draggable">&#9899;</div>
    <div class="marble draggable">&#9899;</div>
    <div class="marble draggable">&#9899;</div>
    <div class="marble draggable">&#9899;</div>
    <div class="box box-x home droppable"></div>
    <div class="box box-x home droppable"></div>
    <div class="box box-x home droppable"></div>
    <div class="box box-x home droppable"></div>
    </div>

</div>
