
<div class="board">
    <div class="row" id="row1">
        <div class="box box-x">
            Sart
        </div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
    </div>
    <div class="row" id="row2">
        <div class="col1">
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
        </div>
        <div class="col3">
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
            <div class="box box-y"></div>
        </div>
    </div>
    <div class="row" id="row3">
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
        <div class="box box-x"></div>
    </div>
</div>
