/* Space out content a bit */
body {
/*  padding-top: 20px;
  padding-bottom: 20px;*/
/*  background-image: url(http://www.csszengarden.com/167/bg.gif);
  background-position:50% 0px;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;*/
  background-color: #F5ECD5; 
 
}
        .contentChat { padding:5px; background:white; border-radius:5px; overflow-y: scroll;
                   border:1px solid #CCC; margin-top:10px; height: 160px; }
        #input { border-radius:2px; border:1px solid #ccc;
                 margin-top:10px; padding:5px; width:300px;  }
        #status { width:88px; display:block; float:left; margin-top:15px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
footer {
  padding-right: 15px;
  padding-left: 15px;

}



.colums{
  float: right;
}


/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
footer {
    margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0;
  
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;

}
.colPartHom{

/*    margin-left: 30px;
    margin-right: 30px;*/
    /*margin-bottom: 10px;*/
  
    display: inline-block;
    float: left;
    height: 100%;
}
.columOne{
margin-left: 5%;
  width: 45%;
}
.colScores{
  width: 20%;
 /* margin-left: 40px;*/
}
tr{
  color: #876109;
}

h2{
  color: #876109;
}
.colDice{
  width: 28%;
  position: relative;
}




}
.container-narrow > hr {
  margin: 30px 0;
}
.button{
    margin-left: 25%;
    vertical-align: middle;
    width: 400px;
    height: 50%;
    margin-top: 10px;
}
/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}*/

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
#uppercase{
  text-transform: capitalize;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1100px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  img {
    height: 100px;
    width: 100px;
  }

.number{
    text-align: center;
    position: relative;
}
#placeholder {
  height: 100px;
  width: 100px;
 border: 1px solid #B1B56E;

  border-radius: 10px;  
  font-size:80px;
  margin-top: 20px;
   color: #876109;
/*background-color: white;*/
 
}
}

@media(max-width: 1000px){
  .colPartHom{
  float: none !important;

  margin: 4% 4% 4% 4%;
  height: 30%;
  width: inherit;
}
#placeholder {
  height: 90px;
  width: 90px;
  border: 1px solid #B1B56E;
  background-color: #B1B56E;
  border-radius: 10px;  
  font-size:80px;
  margin-top: 20px;
text-align: center;
 color: #876109;
 
}
.colums{
  float: none;
  width: 80%;
  vertical-align: middle;
  margin-left: 10%;
}

/*nv bar responsive with a button*/

}
  .btn-lg{
    background-color: #B1B56E;
    color: #876109;
 

  }

.img-responsive{
    max-width: 100px;
}

/* Space out content a bit */

/*******************************
Elements
********************************/
span{
    
    font: bold 10px "Arial", "Helvetica", sans-serif;
    color: #000;
    text-align: center;
}
/*******************************
Board Structure
********************************/
.board {
    background: #EFE0B9;
    width: 500px;

}
.row{
    background: #EFE0B9;  
    float: left;

}
#row1, #row3 {
    height: 52px;
    width: 488px;
}
#row2 {
    width: 488px;

}
.col1{
    float: left;
    width: 45px;
}
.col3{
    float: right;
    margin-right: 2px;
    width: 45px;
}
/*******************************
Board positions - Box
********************************/
.box {
    background: #F5ECD5;
    border: 3px solid #F5ECD5;
    border-radius: 100%;
    float: left;
    height: 50px;
    width: 47px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}
div .box-x:last-child {
    margin-right: 0;
}
.box-x{
    margin-right: 2px;
}
.box-y{
    margin-bottom: 2px;
}
div .box-y:last-child {
    margin-bottom: 0;
}
.marble{
  font-size: 34px;
 float: left;
 cursor: pointer;
}


.start{
/*background-color: #E1EDCC;*/
background-color: #B1B56E;

}
.end{
  background-color: #D6B874;
}

.home{
float: right;
  background-color: #4A4132;
}


